<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Macro Tracking</a>
    <button *ngIf="userHasLoggedIn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="userHasLoggedIn" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/history" routerLinkActive="active">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pantry" routerLinkActive="active">Pantry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/meals" routerLinkActive="active">Meals</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto pr-5">
            <li  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="logout()">Log Out</a>
                  <a class="dropdown-item" href="#">Change Password</a>
                </div>
              </li>
        </ul>
    </div>
</nav>