<div class="container px-4 pb-3">
    <div class="row">
        <div class="col-12">
            <h3>{{ day.date }}</h3>
            <button *ngIf="changesArePresent" type="button" class="btn-sm btn-success float-right px-3 ml-3"
                (click)="saveChanges()">Save</button>
            <button *ngIf="changesArePresent" type="button" class="btn-sm btn-secondary float-right px-3"
                (click)="resetChanges()">Reset</button>
            <hr>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-12">
            <h5>Goals</h5>
        </div>
        <form class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Protein:</label>
                    <input type="number" class="form-control" [value]="day.goal.protein"
                        (input)="changeProteinGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Carbs:</label>
                    <input type="number" class="form-control" [value]="day.goal.carbs"
                        (input)="changeCarbGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Fats:</label>
                    <input type="number" class="form-control" [value]="day.goal.fats"
                        (input)="changeFatGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-12">
                    <label>Calories:</label>
                    <input type="number" class="form-control" [value]="day.goal.calories" [disabled]="true">
                </div>
            </div>
        </form>
    </div>
    <div class="row border font-weight-bold text-center-sm">
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.protein < day.goal.protein"
            [class.text-success]="day.macros.protein === day.goal.protein"
            [class.text-danger]="day.macros.protein > day.goal.protein">Protein</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.carbs < day.goal.carbs"
            [class.text-success]="day.macros.carbs === day.goal.carbs"
            [class.text-danger]="day.macros.carbs > day.goal.carbs">Carbs</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.fats < day.goal.fats"
            [class.text-success]="day.macros.fats === day.goal.fats"
            [class.text-danger]="day.macros.fats > day.goal.fats">Fats</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.calories < day.goal.calories"
            [class.text-success]="day.macros.calories === day.goal.calories"
            [class.text-danger]="day.macros.calories > day.goal.calories">Calories</div>
    </div>
    <div class="row data-row border">
        <div class="col-3">{{ day.macros.protein }}</div>
        <div class="col-3">{{ day.macros.carbs }}</div>
        <div class="col-3">{{ day.macros.fats }}</div>
        <div class="col-3">{{ day.macros.calories }}</div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <h5>Morning Weight</h5>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="weight">Weight:</label>
                    <input type="number" class="form-control" id="weight" [value]="day.weight"
                        (input)="changeWeight($event.target.value)" min=0>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h5>Tracked Food</h5>
        </div>
    </div>
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <button type="button" class="btn btn-success w-100 shadow" (click)="openTrackingModal()">Track New
                Item</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Breakfast
                <button *ngIf="day.thingsIAte.forBreakfast.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.forBreakfast)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.forBreakfast.length === 0"
        [class.some-height]="day.thingsIAte.forBreakfast.length === 0" cdkDropList #breakfastList="cdkDropList"
        [cdkDropListData]="day.thingsIAte.forBreakfast"
        [cdkDropListConnectedTo]="[morningSnackList, lunchList, afternoonSnackList, dinnerList, dessertList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.forBreakfast" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'Breakfast')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Morning Snack
                <button *ngIf="day.thingsIAte.asAMorningSnack.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.asAMorningSnack)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.asAMorningSnack.length === 0"
        [class.some-height]="day.thingsIAte.asAMorningSnack.length === 0" cdkDropList #morningSnackList="cdkDropList"
        [cdkDropListData]="day.thingsIAte.asAMorningSnack"
        [cdkDropListConnectedTo]="[breakfastList, lunchList, afternoonSnackList, dinnerList, dessertList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.asAMorningSnack" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'MorningSnack')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Lunch
                <button *ngIf="day.thingsIAte.forLunch.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.forLunch)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.forLunch.length === 0" [class.some-height]="day.thingsIAte.forLunch.length === 0"
        cdkDropList #lunchList="cdkDropList" [cdkDropListData]="day.thingsIAte.forLunch"
        [cdkDropListConnectedTo]="[breakfastList, morningSnackList, afternoonSnackList, dinnerList, dessertList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.forLunch" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'Lunch')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>

    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Afternoon Snack
                <button *ngIf="day.thingsIAte.asAnAfternoonSnack.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.asAnAfternoonSnack)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.asAnAfternoonSnack.length === 0"
        [class.some-height]="day.thingsIAte.asAnAfternoonSnack.length === 0" cdkDropList
        #afternoonSnackList="cdkDropList" [cdkDropListData]="day.thingsIAte.asAnAfternoonSnack"
        [cdkDropListConnectedTo]="[breakfastList, morningSnackList, lunchList, dinnerList, dessertList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.asAnAfternoonSnack" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'AfternoonSnack')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Dinner
                <button *ngIf="day.thingsIAte.forDinner.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.forDinner)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.forDinner.length === 0" [class.some-height]="day.thingsIAte.forDinner.length === 0"
        cdkDropList #dinnerList="cdkDropList" [cdkDropListData]="day.thingsIAte.forDinner"
        [cdkDropListConnectedTo]="[breakfastList, morningSnackList, lunchList, afternoonSnackList, dessertList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.forDinner" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'Dinner')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>
                Dessert
                <button *ngIf="day.thingsIAte.forDessert.length !== 0" type="button"
                    class="btn btn-sm btn-outline-info float-right"
                    (click)="mealify(day.thingsIAte.forDessert)">Mealify</button>
            </h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div [class.row]="day.thingsIAte.forDessert.length === 0"
        [class.some-height]="day.thingsIAte.forDessert.length === 0" cdkDropList #dessertList="cdkDropList"
        [cdkDropListData]="day.thingsIAte.forDessert"
        [cdkDropListConnectedTo]="[breakfastList, morningSnackList, lunchList, afternoonSnackList, dinnerList]"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foodItem of day.thingsIAte.forDessert" class="row pt-3" cdkDrag>
            <div class="col-2">{{ foodItem.name }}</div>
            <div class="col-2">{{ foodItem.amount}}</div>
            <div class="col-2">{{ foodItem.macros.calories }}</div>
            <div class="col-2">{{ foodItem.macros.protein }}</div>
            <div class="col-2">{{ foodItem.macros.fats }}</div>
            <div class="col-2">{{ foodItem.macros.carbs }}</div>
            <div class="col-12 pt-2">
                <div class="float-left text-secondary" cdkDragHandle>
                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                        <path
                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                        </path>
                        <path d="M0 0h24v24H0z" fill="none"></path>
                    </svg>
                </div>
                <button type="button" class="btn btn-link text-danger float-right"
                    (click)="remove(foodItem, 'Dessert')">Delete</button>
                <button type="button" class="btn btn-link float-right" (click)="edit(foodItem)">Edit</button>
            </div>
        </div>
    </div>
</div>

<app-track-modal [pantryOptions]="pantryOptions" [mealOptions]="mealOptions" (finishTrackingItem)="add($event)" (finishTrackingMeal)="addMeal($event)"></app-track-modal>
<app-meal-maker-modal></app-meal-maker-modal>