<div class="container px-4 pb-3">
    <div class="row">
        <div class="col-12">
            <h3>{{ day.date }}</h3>
            <button *ngIf="changesArePresent" type="button" class="btn-sm btn-success float-right px-3 ml-3"
                (click)="saveChanges()">Save</button>
            <button *ngIf="changesArePresent" type="button" class="btn-sm btn-secondary float-right px-3"
                (click)="resetChanges()">Reset</button>
            <hr>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-12">
            <h5>Goals</h5>
        </div>
        <form class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Protein:</label>
                    <input type="number" class="form-control" [value]="day.goal.protein"
                        (input)="changeProteinGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Carbs:</label>
                    <input type="number" class="form-control" [value]="day.goal.carbs"
                        (input)="changeCarbGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Fats:</label>
                    <input type="number" class="form-control" [value]="day.goal.fats"
                        (input)="changeFatGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-12">
                    <label>Calories:</label>
                    <input type="number" class="form-control" [value]="day.goal.calories" [disabled]="true">
                </div>
            </div>
        </form>
    </div>
    <div class="row border font-weight-bold text-center-sm">
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.protein < day.goal.protein"
            [class.text-success]="day.macros.protein === day.goal.protein"
            [class.text-danger]="day.macros.protein > day.goal.protein">Protein</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.carbs < day.goal.carbs"
            [class.text-success]="day.macros.carbs === day.goal.carbs"
            [class.text-danger]="day.macros.carbs > day.goal.carbs">Carbs</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.fats < day.goal.fats"
            [class.text-success]="day.macros.fats === day.goal.fats"
            [class.text-danger]="day.macros.fats > day.goal.fats">Fats</div>
        <div class="col-3 px-0-sm" [class.text-primary]="day.macros.calories < day.goal.calories"
            [class.text-success]="day.macros.calories === day.goal.calories"
            [class.text-danger]="day.macros.calories > day.goal.calories">Calories</div>
    </div>
    <div class="row data-row border">
        <div class="col-3">{{ day.macros.protein }}</div>
        <div class="col-3">{{ day.macros.carbs }}</div>
        <div class="col-3">{{ day.macros.fats }}</div>
        <div class="col-3">{{ day.macros.calories }}</div>
    </div>
    <div class="row pt-5">
        <div class="col-12">
            <h5>Morning Weight</h5>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="weight">Weight:</label>
                    <input type="number" class="form-control" id="weight" [value]="day.weight"
                        (input)="changeWeight($event.target.value)" min=0>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h5>Tracked Food</h5>
        </div>
    </div>
    <div class="row pt-4 pb-3">
        <div class="col-12">
            <button type="button" class="btn btn-success w-100 shadow" (click)="openTrackingModal()">Track New Item</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Breakfast</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.forBreakfast" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'Breakfast')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Morning Snack</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.asAMorningSnack" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'MorningSnack')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Lunch</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.forLunch" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'Lunch')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Afternoon Snack</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.asAnAfternoonSnack" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'AfternoonSnack')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Dinner</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.forDinner" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'Dinner')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>
    <div class="row border-left border-right border-top mt-5 pt-2 pb-2 bg-dark text-light rounded-top">
        <div class="col-12 font-weight-bold text-center">
            <h5>Dessert</h5>
        </div>
    </div>
    <div class="row border-bottom font-weight-bold text-center-sm">
        <div class="col-2 px-0-sm">Name</div>
        <div class="col-2 px-0-sm">Amount</div>
        <div class="col-2 px-0-sm">Calories</div>
        <div class="col-2 px-0-sm">Protein</div>
        <div class="col-2 px-0-sm">Fats</div>
        <div class="col-2 px-0-sm">Carbs</div>
    </div>
    <div *ngFor="let foodItem of day.thingsIAte.forDessert" class="row pt-3">
        <div class="col-2">{{ foodItem.name }}</div>
        <div class="col-2">{{ foodItem.amount}}</div>
        <div class="col-2">{{ foodItem.macros.calories }}</div>
        <div class="col-2">{{ foodItem.macros.protein }}</div>
        <div class="col-2">{{ foodItem.macros.fats }}</div>
        <div class="col-2">{{ foodItem.macros.carbs }}</div>
        <div class="col-12">
            <button type="button" class="btn btn-link text-danger float-right"
                (click)="remove(foodItem, 'Dessert')">Delete</button>
            <button type="button" class="btn btn-link float-right"
                (click)="edit(foodItem)">Edit</button>
        </div>
    </div>

</div>

<app-track-modal [pantryOptions]="pantryOptions" (finishTrackingItem)="add($event)"></app-track-modal>