<div class="container px-5">
    <div class="row">
        <div class="col-12">
            <h3>{{ day.date }}</h3>
            <hr>
        </div>
        <div *ngIf="changesArePresent" class="col-12">
            <button type="button" class="btn-sm btn-success float-right px-3 ml-3" (click)="saveChanges()">Save</button>
            <button type="button" class="btn-sm btn-secondary float-right px-3" (click)="resetChanges()">Reset</button>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h4>Goals</h4>
        </div>
        <form class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label>Protein:</label>
                    <input type="number" class="form-control" [value]="day.goal.protein"
                        (input)="changeProteinGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Carbs:</label>
                    <input type="number" class="form-control" [value]="day.goal.carbs"
                        (input)="changeCarbGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-4">
                    <label>Fats:</label>
                    <input type="number" class="form-control" [value]="day.goal.fats"
                        (input)="changeFatGoal($event.target.value)" min=0>
                </div>
                <div class="form-group col-12">
                    <label >Calories:</label>
                    <input type="number" class="form-control"  [value]="day.goal.calories" [disabled]="true">
                </div>
            </div>
        </form>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h4>Morning Weight</h4>
        </div>
        <div class="col-12">
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="weight">Weight:</label>
                    <input type="number" class="form-control" id="weight" [value]="day.weight"
                        (input)="changeWeight($event.target.value)" min=0>
                </div>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col-12">
            <h4>Tracked Food</h4>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-success" (click)="openTrackingModal()">Track New Item</button>
        </div>
    </div>
</div>

<app-track-modal></app-track-modal>